body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

.container {
  padding: 20px;
}

h2 {
  text-align: center;
}

button {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #2aabee;
  color: white;
  cursor: pointer;
}
